/*   UNIVERSAL   */
*{
    box-sizing: border-box;
    font-family: "Sky Text", Helvetica, sans-serif;
    font-size: 20px;
}

@font-face {
    font-family: 'Sky Text';
    src: local('Sky Text'), url('/public/fonts/sky-regular.woff2') format('woff2');
}

/* Taken from the sky.com website */
button{
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #0073c5;
    border-color: #0073c5;
    line-height: 2.22em;
    display: inline-block;
    margin: 0;
    padding: 0 19px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: .25em;
    transition: color .5s ease,background-color .5s ease,border-color .5s ease,box-shadow .5s ease;
    cursor: pointer;
}

/*   BODY   */
body{
    margin: 0px;
}

/*   VIDEO   */
.video-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #222222;
}
  
canvas {
    position: absolute;
}

header, footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
}

/*   LOGOS   */
.logos{
    height: 100px;
	display: flex;
	justify-content: space-between;
    align-items: center;
    width: 1280px;
}

.sky-logo, .art-logo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 50px;
}

.sky-logo {
    width: 77px;
    height: 100%;
    background-image: url(/public/imgs/sky-logo.webp);
    
}

.art-logo {
    width: 270px;
    height: 100%;
    background-image: url(/public/imgs/arthur-tindsley-logo.jpg);
}

/*   FOOTER   */
footer {
    height: 244px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
}

/*   CELLS   */
.cells{
	display: flex;
	justify-content: space-between;
    align-items: center;
    width: 1280px;
}

.cells .cell{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 32%;
    height: 90%;
    padding: 20px;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
}

.cells div h3{
    font-size: 25px;
    margin: 0px;
}

.cells div p{
    margin: 0px;
}

.cell div {
    margin-left: 20px;
}

.note {
    font-size: 14px;
    font-style: italic;
}

.cell .emoji {
    font-size: 100px;
    margin: auto;
}

.AR-mode{
    margin: auto;
}